@import 'variables';

#background {
  background: url("#{$base-url-img}pattern-light.svg") center center; background-size: 63px 63px;

  .pf-content-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  div.jumbotron {
    background-position: center center;
    display: block;
    text-shadow: 1px 2px 8px #000;

    .bg-full-container {
      overflow: hidden;
    }

    &:hover {
      text-decoration: none;
    }

    margin-bottom: 0px;
    color: $bg-color;
    min-height: 250px;

    p,h2,h3 {
      padding-left: 100px;
      padding-right: 100px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }

    h3 {
      font-size: 18px;
      padding-left: 100px;
      padding-top: 24px;
    }

    p {
      font-size: 14px;
      padding-top: 7px;
    }

    a {
      color: $bg-color;
      text-decoration: underline;
    }
  }

  #bg-research {

    background-image: url("#{$base-url-img}research.jpg"); background-size: cover;

    &:hover,&.expanded {
      background-image: url("#{$base-url-img}research-hover.jpg"); background-size: cover !important;
    }
  }

  #bg-practice {
    background-image: url("#{$base-url-img}practice.jpg"); background-size: cover;

    &:hover,&.expanded  {
      background-image: url("#{$base-url-img}practice-hover.jpg"); background-size: cover;
    }
  }

  #bg-method{
    background-image: url("#{$base-url-img}method.jpg"); background-size: cover;

    &:hover,&.expanded  {
      background-image: url("#{$base-url-img}method-hover.jpg"); background-size: cover;
    }
  }
}
