@import 'variables';

#contact {
  background: url("#{$base-url-img}pattern-light.svg") top left; background-size: 63px 63px;

  .pf-content-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .full {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }
    
  .address {
    padding-left: 90px;
    padding-right: 25px;
  }
    
  .panel-group {
    margin-bottom: 0px;
  }
}