@import 'variables';

#contact {

  .pf-content-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .full {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .details {
    padding-left: 90px;
    padding-right: 25px;
    padding-bottom: 50px;
  }

  .panel-group {
    margin-bottom: 0px;
  }
}
