@import 'variables';

$contacts: (
  'sergej', 'job', 'andre', 'hung', 'indranil', 'olaf',
  'andreea', 'marian', 'adi', 'daniel', 'teodora', 'marius', 'raluca',
  'piu', 'aruna', 'sanjay',
  'michael'
);

#contact-grid {
  width: 100%;
  height: 100%;
  background: #e3e3e9;
  position: absolute;
  background-size: 78px 135px;
  background-image: url('#{$base-url-img}back.svg');
  box-shadow: inset 0px 0px 46px 0px rgba(23, 40, 93, 0.2);

  div.cell {
    width: 78px;
    height: 90px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    line-height: 90px;
    font-size: 12px;

    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;

    @each $contact in $contacts {
      &.#{$contact} {
        background-image: url("#{$base-url-img}portraits/#{$contact}.png");
      }
    }

    &.location {
      background-image: url("#{$base-url-img}bb-landmark-cell.svg");
    }

    &.contact {
      background-image: url("#{$base-url-img}bb-mail-cell.svg");

      &:hover {
        background-image: url("#{$base-url-img}bb-mail-hover.svg");
      }
    }
  }
}
