// bower:scss
// endbower
@import 'twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap';

@import "compass/css3";

@font-face {
  font-family: 'Glegoo';
  font-weight: normal;
  src: url(fonts/glegoo.woff) format('woff');
}

$base-url-assets: "/";
$base-url-img: "#{$base-url-assets}images/";
$bg-color: rgb(236, 236, 239);

html, body {
  height: 100%;
  background-color: #f9f9fb;
  font-family: Glegoo, serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


section {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#pf-intro-container {
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 50%;
  left: 0%;
  position: absolute;
  background: url("#{$base-url-img}/home1.jpg") center center; background-size: cover;
  display: table;
  box-shadow: inset 0px 0px 240px 80px rgba(0,0,0,0.6);

  blockquote {
    color: #fff;
    border: 0px;
    padding-right: 120px;
    padding-left: 60px;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 1px 2px 8px #000;
    font-size: 1.3em;
    background: url("#{$base-url-img}/pattern.svg") center center; background-size: 63px 63px;

    footer {
      color: #fff;
    }
  }
}

#pf-logo {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 30%;
  max-width: 235px;
  padding-left: 10px;
  z-index: 1000;
}

#nav-scroll {
  margin: auto;
  position: absolute;
  height: 100%;
  padding: 0px;
  width: 50%;
  top: 0px;
  right: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
}

#nav-home {
  display: table;
  position: relative;
  height: 100%;
  z-index: 10;

  ul {
    padding: 52px 0px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding-bottom: 10px;

      a {
        width: 90px;
        height: 120px;

        padding: 82px 0px 10px 0px;
        text-align: center;
        color: #888;

        background-size: 55px;
        background-position: center top;
        background-repeat: no-repeat;

        &:hover {
          background-color: transparent;
          color: #222;
        }
      }
    }
  }
}

nav {
  .nav-values {
    background-image: url("#{$base-url-img}red.svg");

    &:hover {
      background-image: url("#{$base-url-img}red-hover.svg");
    }
  }

  .nav-change {
    background-image: url("#{$base-url-img}orange.svg");

    &:hover {
      background-image: url("#{$base-url-img}orange-hover.svg");
    }
  }

  .nav-background {
    background-image: url("#{$base-url-img}green.svg");

    &:hover {
      background-image: url("#{$base-url-img}green-hover.svg");
    }
  }

  .nav-portfolio {
    background-image: url("#{$base-url-img}purple.svg");

    &:hover {
      background-image: url("#{$base-url-img}purple-hover.svg");
    }
  }

  .nav-contact {
    background-image: url("#{$base-url-img}blue.svg");

    &:hover {
      background-image: url("#{$base-url-img}blue-hover.svg");
    }
  }
}

#pf-values-container {
  position: absolute;
  right: 440px;
  height: 100%;
  margin-left: 120px;
  padding: 10%;
  background: url("#{$base-url-img}/pattern-light.svg") center center; background-size: 63px 63px;
  box-shadow: inset 0px 0px 46px 0px rgba(23, 40, 93, 0.1);
}

h1 {
  text-align: center;
  line-height: 72px;
}

p {
  text-align: justify;
}

#pf-logo-content {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 30px;
  width: 175px;
  max-width: 235px;
  padding-left: 10px;
  z-index: 1000;
}

