@import "variables";

@media screen and (max-width: 1024px) {
  #home {
    #pf-intro-container {
      width: 100%;

      blockquote {
        padding: 150px 40px 40px;
        text-align: center;
      }
    }

    #pf-logo {
      margin-top: 20px;
      width: 20%;
      min-width: 150px;
    }
  }

  #pf-nav, #pf-logo-content {
    display: none;
  }

  #contents {
    #pf-nav-content {
      left: initial;
      right: 0px;
      width: 50px;
      padding-left: 5px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .pf-content-container {
      padding: 50px 75px 50px 25px;
    }

    .nav-vertical ul li a {
      line-height: 40px;
      background-size: 40px 40px;
    }

    section {
      margin-left: 0px;
      margin-right: 0px;

      #home {
        box-shadow: none;
      }
    }
  }

  #background {
    .pf-content-container {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    header,div.jumbotron {
      padding-left: 25px;
      padding-right: 75px;

      p,h3 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  body>footer {
    left: 0px;
    right: initial
  }
}

@media screen and (max-width: 640px) {
  #contents .pf-content-container {
    padding: 50px 25px 50px 25px;
  }

  #background {
    .pf-content-container {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
    }

    header,div.jumbotron {
      padding-left: 25px;
      padding-right: 25px;

      p,h3 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  #pf-nav-content {
    display: none;
  }

  section#contact {
    box-shadow: none;

    .pf-content-container {
      position: absolute;
      left: 0px;
      right: 0px;
      height: 0px;
    }

    #contact-grid {
      display: none !important;
    }

    article {
      display: initial !important;
      width: 100%;
      padding-bottom: 24px;
    }
  }
}
