@import 'variables';

#work-with-us {

    .pf-content-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

    .jumbotron {
    padding-left: 100px;
    }
    
    div.jumbotron {
    background-position: center center;
    display: block;
    text-shadow: 1px 2px 8px #000;

    .bg-full-container {
      overflow: hidden;
    }

    &:hover {
      text-decoration: none;
    }

    margin-bottom: 0px;
    color: $bg-color;
    min-height: 150px;

    p,h2,h3 {
      padding-left: 10px;
      padding-right: 25px;
    }

    h2 {
      font-size: 24px;
      text-align: center;
    }

    h3 {
      font-size: 18px;
      padding-left: 10px;
      padding-top: 5px;
    }

    p {
      font-size: 14px;
      padding-top: 7px;
    }

    a {
      color: $bg-color;
      text-decoration: underline;
    }
  }
    
    #bg-job {
        background-image: url("#{$base-url-img}products.jpg"); background-size: cover;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}products-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-investors {
        background-image: url("#{$base-url-img}method.jpg"); background-size: cover;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}method-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-partners {
        background-image: url("#{$base-url-img}practice.jpg"); background-size: cover;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}practice-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-associates {
        background-image: url("#{$base-url-img}projects.jpg"); background-size: cover;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}projects-hover.jpg"); background-size: cover !important;
        }
      }
}