@import 'variables';

#work-with-us {

    .pf-content-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

    .jumbotron {
    padding-left: 100px;
    }
    
    div.jumbotron {
    background-position: center center;
    display: block;
    box-shadow: inset 0px 5px 10px 0px rgba(23, 40, 93, 0.08);

    .bg-full-container {
      overflow: hidden;
    }

    &:hover {
      text-decoration: none;
    }

    margin-bottom: 0px;
    color: $bg-color;
    min-height: 150px;

    p,h2,h3 {
      padding-left: 10px;
      padding-right: 25px;
      color: #333333;
    }

    h2 {
      font-size: 24px;
      text-align: center;
      color: #333333;
    }

    h3 {
      font-size: 18px;
      padding-left: 10px;
      padding-top: 5px;
      color: #333333;
    }

    p {
      font-size: 14px;
      padding-top: 7px;
      color: #333333;
    }

    a {
      color: $bg-color;
      text-decoration: underline;
    }
  }
    
    #bg-job {
        background-color: #E2E2E7;
        
        &:hover,&.expanded {
          background-image: url("#{$base-url-img}workwithusbg2-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-investors {
        background-color: #ececef;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}workwithusbg2-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-partners {
        background-color: #E2E2E7;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}workwithusbg2-hover.jpg"); background-size: cover !important;
        }
      }

      #bg-associates {
        background-color: #ececef;

        &:hover,&.expanded {
          background-image: url("#{$base-url-img}workwithusbg2-hover.jpg"); background-size: cover !important;
        }
      }
}