@import 'variables';

#work-with-us {
  h3 {
    font-size: 19px;
  }
  .list-of-jobs {
    margin: 20px 0 20px 20px;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    font-size: 22px;
    a {
        text-decoration: none;
        text-align: right;
        display: block;
        span {
            font-size: 17px;
            display: block;
            font-weight: 600;
        }
    }
  }
  .list-all-jobs {
    display: block;
    padding-top: 20px;
    font-size: 16px;
  }
  .job-listing {
    h2 {
        font-size: 22px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        display: inline-block;
        span {
            font-size: 19px;
            font-weight: 600;
        }
    }
  }
}

@media (min-width: 1024px) {
    #work-with-us {
        .list-of-jobs {
            margin: 20px 0 20px 30px;
            padding-left: 30px;
        }
    }
}
